<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcas2.openrol">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".OpenRolMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenRol">
        <activity
            android:name=".FutureDevelopment.ResourcesWebView"
            android:exported="false" />
        <activity
            android:name=".FutureDevelopment.Resources"
            android:exported="false" />
        <activity
            android:name=".SelectCharSystem"
            android:exported="false" />
        <activity
            android:name=".SelectCharDnD"
            android:exported="true" />
        <activity
            android:name=".DnDCharacterFactory"
            android:exported="false"
            android:theme="@style/Theme.OpenRol"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Dices"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>